/* Configuración general */
/* css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

h1, h2, h3 {
    color: #333;
}

main {
    padding: 20px;
}

#presentacion, #producto-destacado, #catalogo, #gestion-stock, #form-ventas, #form-clientes, #contacto {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Fondo gris centrado */
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Fondo gris */
}

/* Estilo del contenedor de login */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    text-align: left;
    margin: 8px 0 4px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.login-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

/* General styles for the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo suave para destacar las secciones */
}

/* Estilo para las secciones con fondo gris */
section {
    background-color: #f0f0f0; /* Fondo gris */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    margin: 15px 0;
    width: 80%; /* Ajusta el ancho del recuadro */
    max-width: 600px; /* Ancho máximo del recuadro */
    text-align: center; /* Centrar texto */
}

/* Estilo para los títulos */
section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para los párrafos */
section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}
